@import '~antd/dist/antd.css';

.header {
  background-color: white;
  box-shadow: 0 2px 8px #f0f1f2;
}

.menu__input {
  display: flex;
  justify-content: space-between;
}

.search {
  max-width: 30rem;
  display: flex;
}

.filter {
  display: flex;
  justify-content: flex-end;
}
